*{
margin: 0;
padding: 0;
font-family: 'poppins','sans-serif';
box-sizing: border-box;
}
body{
  margin: 0;
  background-image: url("../img/bg.jpg");
  background-size: cover; 
}
   
.contenair{
    background-color: #c5bcbc;
    width: 100%;
    max-width: 700px;
    margin:150px auto ;
    border-radius: 10px;
    padding: 20px;  
}
#life img{
    width: 30px;
    height: 30px;
}
.entete{
    display: flex;
    flex-direction: row;
    gap: 23rem;
}
.title{
    color: #6161df;
    padding-bottom: 9px;
}
.quizz p{
    padding: 20px 0;
    font-size: 18px;
    color: rgb(13, 13, 26);
    font-weight: 600;
    border-top: 2px solid rgb(13, 13, 26);
}
.btn{
    background: white;
    color: black;
    font-weight: 500;
    width: 100%;
    border: 1px solid black;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}
.btn:hover{
    background:rgb(97, 97, 223);
    color: rgb(239, 231, 231);
 } 
#next-btn{
    background: #6161df;
    color: #fff7f7;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}
.correct{
    background: rgb(10, 155, 10);
}
.incorrect{
    background: rgb(243, 22, 22);
}
/* body{
    display: flex;
    justify-content: center;
} */
.container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 100px;
    width: 100%;
    border-radius: 10px;

}
.content h1{
    text-transform: uppercase;
    color: #ff000097;
    font-size: 50px;
    margin-bottom: 0;
}
.image img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    color: white;
    z-index: 0;
    margin: 30px;
}
ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    font-weight: bolder;
}
a{
    text-decoration: none;
}
li {
    list-style:none ;
}
.button_1 {
    border: 1px solid white;
    width: 180px;
    background: rgb(50, 181, 50);
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    color: white;
}
.button_2 {
    border: 1px solid white;
    width: 180px;
    background:rgb(220, 186, 14);
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    color: black;
}
.button_1:hover{
    background: rgb(2, 61, 7);
    color: rgb(50, 181, 50);
}
.button_2:hover{
    background: rgb(221, 20, 20);
    color: rgb(240, 240, 72);
} 


